# Contains password and machine-specific
configs.py

test_data/*
logs/*
data/*
*/__pycache__/*
*/*/__pycache__/*

# pyinstaller output, may be large
dist/*
build/*
.idea/*

venv

# specs
cron_jobs/specs/*
