<h2>About</h2>

<p>The purpose of this site to aggregate expert picks for NFL games.  This is an evolving project in its early stages.</p>

<p>There are a few other sites that do similar work, but there are a few things I'd like to do different:</p>

<h3>More data</h3>
<p>My goal is to never stop collecting data, using web scraping techniques.  In the long run, I'll try to parse comments from reddit and Twitter users.</p>

<h3>Bet-minded</h3>
<p>As I collect data, I will always note the line that was used (or note when it's a straight win).  I will regularly pull betting lines to compare.</p>

<h3>Better consensus modeling</h3>
<p>Given that different experts use different lines (and some don't use any at all), how can we aggregate these?
How should we weight different experts based on their record?  And how do we compare the records of experts who pick against a line versus those that pick straight winners?
  I have ideas for these, and will favor a model that performs better against the line.</p>

<h2>About me</h2>

My name's T.J.  This is a pet project.  You can contact me at email-tj@stacksbystacks.com.
