/* You can add global styles to this file, and also import other style files */

html {
  background-color: #F7F4E9;
}

button {
  --border-size: 0.1rem;
  --duration: 250ms;
  --font-family: monospace;
  --color-primary: white;
  --color-secondary: black;
  --shadow: rgba(0, 0, 0, 0.1);
  --space: 0.5rem;
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  padding:
    calc(var(--space) / 2)
    var(--space)
    var(--space);
  border: var(--border-size) solid black;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-size: 1rem;
  font-family: var(--font-family);
  text-transform: lowercase;
  text-shadow: var(--shadow) 2px 2px;
  margin-left: 2px;
  margin-right: 2px;
}
