#header1 {
  position: absolute;
  top: 8;
  left: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
}
#header3 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 8px;
  overflow: hidden;
  background: #F59300;
}
#body-clear {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: #FFFFFF;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
